/* .App {
    text-align: center;
  } */
  
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  } */
  
  .QuestionHome {
    background-color: #CCCCCC;
    height: 20px;
    padding: 20px;
    color: #003366;
  }
  
  /* .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  } */


.tabs {
  width: 400px;
  display: inline-block;
  /* margin-right: 30px; */
  vertical-align: top;
}

.tabs-1 .tab-links {
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
  border-bottom: 1px solid #868686;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 35px;
  position: relative;
  top: 5px;
}

.tabs-1 .tab-link {
  padding: 0 15px;
  cursor: pointer;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 41px;
  top: -6px;
  /* left: -1px; */
}

.tabs-1 .tab-link-active {
  width: 40px;
  font-weight: bold;
  border: 1px solid #868686;
  border-bottom: 1px solid white;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  background-color: white;
}

.tabs-1 .content {
  width: 500px;
  padding: 15px;
  border: 1px solid #868686;
  border-top: 1px solid transparent;
}

.tabs-1 .tabContent: {}